body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #E6F2F2;
    font-family: 'Arial', sans-serif;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2E8B57;
    padding: 20px;
}

.content h1 {
    font-size: 3rem;
    color: #4682B4;
}

.content p {
    font-size: 1.25rem;
    color: #2E8B57;
    margin-bottom: 40px;
}

.button {
    display: inline-block;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signup {
    background-color: #4682B4;
    color: white;
}

.signup:hover {
    background-color: #2E8B57;
    transform: scale(1.05);
}

.signup-text {
    display: block;
    font-size: 1rem;
    color: #2E8B57;
    margin-top: 2px;
    margin-bottom: 20px;
}

.login {
    background-color: #2E8B57;
    color: white;
    margin-top: 10px;
}

.login:hover {
    background-color: #4682B4;
    transform: scale(1.05);
}

.login-text {
    display: block;
    font-size: 1rem;
    color: #2E8B57;
    margin-top: 2px;
    margin-bottom: 20px;
}
