body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #E6F2F2;
    font-family: 'Arial', sans-serif;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2E8B57;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.alert {
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
}

.alert h1 {
    font-size: 48px;
    color: #dc3545;
    margin-bottom: 20px;
}

.alert p {
    font-size: 20px;
    color: #2E8B57;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container .btn {
    display: inline-block;
    width: 200px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #4682B4;
    color: white;
}

.btn-primary:hover {
    background-color: #2E8B57;
    transform: scale(1.05);
}

.btn-secondary {
    background-color: #2E8B57;
    color: white;
}

.btn-secondary:hover {
    background-color: #4682B4;
    transform: scale(1.05);
}
